<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycom.mapper.BoardAttachMapper">

	<insert id="insert">
		insert into tbl_attach(fileName, uploadPath, uuid, fileType, bno, uploadUrl)
		values(#{fileName}, #{uploadPath}, #{uuid}, #{fileType}, #{bno}, #{uploadUrl})		
	</insert>
	
	<select id="findByBno" resultType="com.mycom.domain.BoardAttachVO">
		select * from tbl_attach where bno = #{bno}
	</select>
	
	<delete id="deleteAll">
		delete from tbl_attach where bno = #{bno}
	</delete>
	
	<select id="getOldFiles" resultType="com.mycom.domain.BoardAttachVO">
		select * from tbl_attach where uploadPath = date_format(date_add(NOW(), interval -1 day), '%Y/%m/%d')
	</select>
	
</mapper>